<%= render partial: 'components/jumbotron', locals: {title: "Gentlemen league",subtitle: "Vos matchs", image: '4.jpg' } %>
<div class="container">

  <% if !@team %>
      <h2> Vous ne faite parti d'aucune équipe... </h2>
      <p> Rapprochez-vous de l'organisateur de l'événement </p>
  <% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col" class="text-center">Gagné/Perdu</th>
            <th scope="col" class="text-center">Adversaire</th>
            <th scope="col" class="text-center">Jeu 1</th>
            <th scope="col" class="text-center">Jeu 2</th>
            <th scope="col" class="text-center">Jeu 3</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>

          <% @matchs.each_with_index do |match,index| %>

<% opponent_team = match.teams.where.not(id: current_player.team.id)[0]%>
<% team_scores_array = team_match_scores(match,current_player.team)%>
<% opponent_scores_array = team_match_scores(match,opponent_team)%>

            <tr>
              <th scope="row"> <%= index +1 %> </th>

              <td> 
                <%if match.date.blank?%>
                  <%= render partial: "dateForm", locals:{match: match, type: "create"} %>
                <%else%>
                  <p><%= match.date %></p>
                  <% if match.scores.count == 0 %>
                    <%= render partial: "dateForm", locals:{match: match, type: "update"} %>
                  <%end%>
                <%end%>
              </td>

              <% gs = global_match_status(team_scores_array,opponent_scores_array) %>
              <td class="text-center <%= gs[0] %>"> <%= gs[1] %> </td>

              <td class="text-center"> <a href="<%= team_path(opponent_team) %>"><%=opponent_team.name %></a> </td>
              <% if team_scores_array  %>
                <% team_scores_array.count.times do |i| %>
                  <% if team_scores_array[i] > opponent_scores_array[i] %>
                    <% wincolor = "text-success" %>
                  <%else%>
                    <% wincolor = "text-danger"%>
                  <%end%>
                  <td class="text-center <%= wincolor %>"> 
                    <%= team_scores_array[i]%> / <%=opponent_scores_array[i]%>
                  </td>
                <%end%>
              <%end%>
              <% if !team_scores_array || team_scores_array.count == 0 %>
                <td></td> <td></td> <td></td>
              <% elsif team_scores_array.count == 1  %>
                <td></td> <td></td>
              <% elsif team_scores_array.count == 2  %>
                <td></td>
              <% end %>

              <td>
                <%if match.date && DateTime.now > match.date %>
                  <%if match.scores.blank?%>
                    <%= link_to "Rentrer le score", new_match_score_path(match), :class => 'btn btn-success' %>
                  <%else%>
                    <%= link_to "Modifier le score", edit_match_score_path(match,match.scores.where(team_id: current_player.team.id)), :class => 'btn btn-warning' %>
                  <%end%>
                <%end%>
              </td>

            </tr> 
          <%end%>

        </tbody>
      </table>
    </div>
  <%end%>
  <%= render "components/returnButton" %>
</div>