<div class="container mt-4">

  <div class="row">
    <div class="col-6 col-sm-3 ">
      <%= image_tag "2.jpg", class: "img-fluid rounded float-left mr-3" %>
    </div>
    <div class="col-12 col-sm-6">
      <%= render "playerShowTable" %>
    </div>
  </div>

  <div class="row  mx-auto ">
    <div class="col-12 col-sm-3">
      <%= render "components/returnButton" %>
    </div>
    <div class="col-12 col-sm-4">
        <%= link_to "Modifier mes infos", edit_player_path(current_player), :class => 'btn btn-success my-1'%>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to "Changer d'email / mdp", edit_player_registration_path, :class => 'btn btn-warning my-1' %> 
    </div>
  </div>
  
</div>